aiofiles==25.1.0
fastapi==0.136.1
fastf1==3.8.3
Jinja2==3.1.6
joblib==1.5.3
matplotlib==3.10.9
matplotlib-inline==0.2.2
numpy==2.4.4
pandas==2.3.3
plotly==6.7.0
pydantic==2.13.4
pydantic_core==2.46.4
python-multipart==0.0.27
scikit-learn==1.8.0
uvicorn==0.46.0
xgboost==3.2.0
